<div class="container">
    <div class="row recipe-card-sml">
        <h8 class="left-align">Created by: {{user.username}}</h8>
        <br>
        <h8>Recipe Title: {{recipe_name}}</h8>
        <h8>{{steps.step_number}}</h8>
        <p>{{steps.steps_description}}</p>
        <h8 class="left-align">Difficulty {{difficulty_level}}</h8>
    </div>
</div>