<div class="container">
    <div class="row recipe-card-sml">
        <h7 class="left-align"> {{recipe}} </h7>
        <h8 class="left-align">Created by: {{user.username}}</h8>
        <h8>Recipe Title: {{recipe.recipe_name}}</h8>
        <h8>{{steps.step_number}}</h8>
        <p>{{steps.steps_description}}</p>
        <h8 class="left-align">Difficulty {{recipe.difficulty_level}}</h8>
    </div>
</div>